<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link rel="icon" href="./icon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--UIKIT CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit-icons.min.js"></script>

    <style>
        body {
            margin: 0;
            background-image: url('https://i.ibb.co/3Sm6ZXD/bg.webp');
            background-color: aliceblue;
            background-size: 1500px 1060px;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li><a href="/info">Info</a></li>
                    <li>
                        <ul class="uk-navbar-nav">
                            <li><a href="/wciv">Where Can I Vote?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/">EasyVote</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/settings">Settings</a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="/logout">Sign Out</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <center>
        <div class="uk-container" style="background-color:white; height:600px; width:600px; margin-top:200px;">
            <h1 style="font-family: Consolas, monaco, monospace; margin-top:20px;">My Info</h1>
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>USERNAME</td>
                    <td><%= username %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>ADDRESS LINE 2</td>
                    <td><%= addressLine1 %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>ADDRESS LINE 2</td>
                    <td><%= addressLine2 %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>CITY</td>
                    <td><%= city %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>STATE</td>
                    <td><%= state %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>ZIP CODE</td>
                    <td><%= zip_code %></td>
                  </tr>
                </tbody>
              </table>
            <h1 style="font-family: Consolas, monaco, monospace; margin-top:20px;">Settings</h1>
            <p><a class="uk-button uk-button-default uk-button-large" style="margin-top:150px;" href="/settings_address">Change Your Address</a></p>
            <p><a class="uk-button uk-button-default uk-button-large" href="/settings_password">Change Your Password</a> </p>
        </div>
    </center>

</body>
</html>
