<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= election.name %></h2>
    <% let loc = location %>
    <% loc.forEach(element => { %>
        <h1><%= element.address.locationName %></h1>
        <h2><%= element.address.line1 %></h2>
        <h2><%= element.address.city %></h2>
        <h2><%= element.address.state %></h2>
        <h2><%= element.address.startDate %></h2>
        <h3><%= element.pollingHours %></h3>
    <%}); %>
</body>
</html>